#image-load{
color: rgba(255,255,255,1);
width:2000px;
height:2000px;
max-height:100%;
max-width:100%;
background-color: #2e2c29;
font-family: 'Courier New', Courier, monospace;
}

#browse-image{
    color:rgba(255,255,255,1);
}

#hide-input{
    display:none;
}